{% extends 'yourdiary/basic.html' %}
{% load static %}

{% block title %}
    Agreement
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <h1>Пользовательское соглашение</h1>
        <br>
        <h2>Настоящее соглашение (далее «соглашение») является необязательным к прочтению и обязательным к выполнению.
            Ниже описаны наши и ваши обязанности в отношении использования сайта, а также его оценки.</h2>
        <br>
        <ol>
            <li>Настоящее Соглашение становится обязательным для вас и нас после того, как вы начнете использовать Your Diary. Если вы не согласны с этим, вам не разрешается использовать Your Diary.</li>
            <li>У данного сайта нет возрастных ограничений, но мы настоятельно советует убрать детей от экранов и не морочить им головы раньше времени.</li>
            <li>Мы уважаем ваше право на конфиденциальность и будем обрабатывать персональные данные только в соответствии с действующим законодательством РФ.</li>
            <li>Вы заявляете и гарантируете, что обладаете всеми полномочиями и возможностями для заключения настоящего Соглашения и будете полностью соблюдать его условия.</li>
        </ol>
        <br>
        <h2>В ваши обязанности входит:</h2>
        <br>
        <ol>
            <li>Не использовать YourDiary в коммерческих целях без специального на то разрешения (для получения подобного обратитесь к нашему тимлиду).</li>
            <li>Соблюдать все применимые законы и обязательные постановления.</li>
            <li>Не изменять, не объединять, не распространять, не переводить, не перепроектировать и не пытаться получить или использовать исходный код Your Diary, при условии, что вы не являетесь нашим начальством и/или коллегой.</li>
            <li>Запрещается преднамеренно или злонамеренно прерывать или вмешиваться в работу Your Diary.</li>
            <li>Не перехватывайте, не майните и не собирайте иным образом личные или конфиденциальные данные или информацию из Your Diary.</li>
            <li>Не предпринимайте в отношении Your Diary никаких действий, которые нарушали бы какие-либо авторские права, товарные знаки, патентные права, права на коммерческую тайну, конфиденциальность, публичную огласку или иные права.</li>
            <li>Не загружайте файлы, содержащие какой-либо вредоносный код, включая вирусы, шпионское ПО, троянских коней, червей, бомбы замедленного действия, намеренно поврежденные данные или любые другие файлы, которые содержат вредоносный код либо могут каким-либо образом повредить или помешать работе Your Diary.</li>
            <li>Не делайте, не говорите и не используйте ничего, что является или может быть сочтено расистским, беспокоящим, ксенофобным, сексистским, дискриминирующим, жестоким, клеветническим или иным образом оскорбительным либо незаконным.</li>
            <li>Вы можете расторгнуть настоящее Соглашение, окончательно прекратив использование Your Diary в любой момент. Расторжение Соглашения не повлияет на уже существующие права или обязанности с нашей или вашей стороны.</li>
            <li>При условии, что вы проверяющий и/или оценивающий наш проект преподаватель вы обязываетесь оценить его не ниже отметки «хорошо».</li>
            <li>Мы с вами не будем нести ответственности друг перед другом ни за какое исполнение, неисполнение или задержку в исполнении обязательств (полностью или частично), наступившую вследствие форс-мажорных обстоятельств.</li>
        </ol>
        <br>
        <h3>На этом у нас всё. Наслаждайтесь нашим сайтом (или не наслаждайтесь) и помните: реальность — иллюзия, Вселенная — голограмма. Скупайте золото, пока!</h3>
        <br><br>
    </div>

</main>
{% endblock %}